.center {
    text-align: center;
}
.left {
    text-align: left;
}
.inline {
    display: inline;
}
.color-white {
    color: #fff;
}
.shadow-white {
    text-shadow: 1px 1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff, -1px -1px 0px #fff,
                2px 2px 5px #fff, -2px 2px 5px #fff, 2px -2px 5px #fff, -2px -2px 5px #fff;
}
.bold {
    font-weight: 600;
}

body {
    background-image: url('cover.jpg');
    background-size: cover;
}
div {
    margin: 0px 0px 5px 0px;
}
td {
    width: 25%;
}

.cloud {
    background-color: skyblue;
    border-radius: 0.75em;
    margin: 0.25em;
    padding: 0.25em;
    display: inline-block;
}
.cloud:hover {
    background-color: darkcyan;
}
.song_pic {
    width: 5em;
}
.title_artist {
    background-size: 100% 100%;
    height: 100%;
    padding-left: 0.5em;
    flex-grow: 1;
}
/* .NM {
    border-radius: 0.3em;
    background-color: rgb(255,186,0);
}
.HD {
    border-radius: 0.3em;
    background-color: rgb(255,126,49);
}
.MX {
    border-radius: 0.3em;
    background-color: rgb(255,30,30);
}
.SC {
    border-radius: 0.3em;
    background-color: rgb(242,28,199);
} */

#so_happy {
    width: 50%;
}
#intro {
    font-size: 1.2em;
}
#result {
    padding: 1%;
    background-color: #fff;
    border-radius: 2em;
    width: 35%;
    margin: auto;
}
#run {
    font-size: 1.5em;
    border-radius: 2em;
}
#levelSelect div, #range {
    display: none;
}
#levelInput, #levelInput2 {
    width: 3.5em;
}
#resultCountInput {
    width: 2.5em;
}
#artistResult {
    margin-left: 10%;
}
#randomResult > li {
    margin: 2%;
    height: 5em;
    color: #000;
    display: flex;
}
#randomResult p {
    margin: 0;
}
#randomResult span {
    padding: 0;
}
#randomResult .title {
    font-size: 1.5em;
    height: 70%;
}
#randomResult .pattern {
    font-size: 0.7em;
}
#randomResult .artist {
    height: 30%;
}
#artistResult span {
    font-size: 0.75em;
    color: blue;
    margin-left: 0.5em;
}

@media ( max-width: 768px ) {
    body {
        background-size: contain;
    }
    #so_happy, #result {
        width: 100%;
    }
    #randomResult, #artistResult {
        margin-left: -5%;
    }
    #randomResult .title {
        font-size: 1.1em;
    }
    #randomResult .artist {
        font-size: 0.8em;
        padding-top: 3%;
    }
    #randomResult .pattern {
        font-size: 0.6em;
    }
}